.course {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 150px;
  padding: 4px 8px;
  border: 1px solid #E241CC;
  border-radius: 16px;
  color: #0B1F35;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #0b1f35b0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  transition: .2s ease;

  @media (hover: hover) {
    &:hover {
      transform: scale(0.96);
    }
    &:active {
      transform: scale(0.92);
    }
  }
  &:active {
    transform: scale(0.92);
  }
}

.modal {
  .title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }

  .description {
    margin-bottom: 8px;
  }

  .btnWrap {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > button {
      padding: 16px;
      border-radius: 8px;
      color: #FFFFFF;
      background: #E241CC;
      box-shadow: 0px 4px 8px 0px #0b1f35b0;
      font-weight: 700;
      transition: .2s ease;

      &:active {
        transform: scale(0.96);
      }
  
      @media (hover: hover) {
        &:hover {
          background: #e241ccc0;
        }
        &:active {
          transform: scale(0.96);
        }
      }
    }
  }
}