.course {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 4px 8px;
  border: 1px solid #E241CC;
  border-radius: 16px;
  color: #0B1F35;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #0b1f35b0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  transition: .2s ease;

  @media (hover: hover) {
    &:hover {
      transform: scale(0.96);
    }
    &:active {
      transform: scale(0.92);
    }
  }
  &:active {
    transform: scale(0.92);
  }
}

.modal {
  .title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }
}