@import '@mixins';

.bots {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(126.68deg, #1496DE 28.65%, #E241CC 108.53%);

    .title {
        margin-top: 48px;
        margin-bottom: 8px;
        margin-left: 56px;
        color: #fff;
        font-weight: 700;
    }

    .list {
        margin-left: 48px;
        list-style: none;

        & a {
            color: #fff;
            font-weight: 500;

            @media (hover: hover) {
                &:hover {
                    color: #f50882;
                }
            }
        }
    }
}