@keyframes klesh {
  0%{
    transform: translateX(1000px);
  }
  100%{
    transform: translateX(0);
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 24px;
  color: #FFFFFF;
  background: linear-gradient(126.68deg, #1496DE 28.65%, #E241CC 108.53%);

  & > img {
    display: block;
    width: 256px;
    height: auto;
    margin-top: 16px;
    border-radius: 16px;
    animation: klesh 3s linear alternate infinite;
  }
}
