.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .inputError {
    border-color: #ff0000;
  }

  .submitBtn {
    width: fit-content;
    padding: 12px 16px;
    margin-top: 8px;
    border-radius: 16px;
    color: #FFFFFF;
    background: #E241CC;
    font-weight: 700;
    transition: .2s ease;

    &:active {
      transform: scale(0.96);
    }

    @media (hover: hover) {
      &:hover {
        background: #e241ccc0;
      }
      &:active {
        transform: scale(0.96);
      }
    }
  }

  .error {
    align-self: flex-start;
    margin-left: 16px;
    color: #ff0000;
  }
}